.donation-main-container{
    background-color:white;
    margin: 15px 15px;
    border-radius: 15px;
    padding: 15px;
     border:1px solid rgb(186, 185, 185);
     display: flex;
     align-items: center;
}

.donation-image{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.donation-title{
 font-size: 14px;
 font-weight: 700;
 color:rgb(51, 51, 51);
 margin-right: 10px;
}

.donation-text{
    font-size: 12px;
    width: 200px;
    color:rgb(96, 94, 94);
 margin-right: 10px;

}

.donation-checkbox-section{
    display: flex;
    font-size: 16px;
    gap:5px;
    accent-color: green;
}