.banner-container{
    display: flex;
    gap:30px;
    justify-content: start;
    width: 100%;
    margin: 35px 0px 30px;
    overflow-x: scroll;
    
}

.banner-container::-webkit-scrollbar{
    display: none;
}
.banner{
    width: 30%; 
    height: auto;
   
}

@media only screen and (min-width: 360px) and (max-width:600px){
    .banner{
        width: 34%;
        height: auto;
    }
    
    .banner-container{
      margin: 20px 0px 30px;
      gap:15px

    }
}