.item-main-comatiner {
  border: 1px solid rgb(195, 192, 192);
  width: 90%;

  padding: 0 10px 10px 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  margin-bottom: 10%;
  margin-left: 5%
   
}
.svg-icon-section {
  position: absolute;
  top: -3px;
  left: 22px;
  align-items: center;
  font-weight: bolder;
}

.svg-icon-section p {
  position: absolute;
  top: 5px;
  left: 8px;
  font-size: 10px;
  color: white;
}

.item-image-section {
  display: flex;
  justify-content: center;
}

.item-image-item {
  width:60%;
  height: 120px;
  margin-bottom: 10px;
}

.item-timer-section {
  display: inline-flex;
  align-items: center;
  background-color: antiquewhite;
  padding: 4px;
  border-radius: 4px;
  width: 50%;
  
   
}

.timer-image {
  width: 30%;
  height: 15px;
}
.item-timer {
  font-size: 12px;
  color: black;
  font-weight: 500;
  
  
}

.item-title-section h2 {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: -10%; 
 width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-weight-section p {
  margin-top: 5px;
  font-size: 14px;
  color: gray;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-price-add-section {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.item-newamount {
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.item-oldamount {
  font-size: 14px;
  color: gray;
  text-decoration: line-through;
  margin-top: -5px;
}

.add-amount-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  width: 40%;
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
  color: green;
  font-weight: 700;
  background-color: rgb(237, 250, 237);
}

 

@media only screen and (min-width: 375px) and (max-width: 600px) {
  .item-main-comatiner {
    width: 140px;
    margin: 0px 0px 20px 0px;
  }

  .item-image-item {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }

  .svg-icon-section p {
    font-size: 8px;
  }
  .item-timer-section {
    /* padding: 3px; */
    align-items: center;
  }

  .timer-image {
    width: 15px;
    height: 15px;
  }
  .item-timer {
    font-size: 10px;
    margin-top: 3px;
  }

  .item-title-section h2 {
    font-size: 12px;
  }

  .item-weight-section p {
    font-size: 12px;
    
  }
  .item-newamount,
  .item-oldamount {
    font-size: 10px;
  }

  .add-amount-btn {
    width: 50px;
    height: 25px;
    font-size: 12px;
  }

  /* .item-weight-section p{
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } */
}



@media only screen and (min-width: 1000px) and (max-width: 1245px) {
  .item-timer-section{
    width: 80%;
  }
}

@media only screen and (min-width: 360px) and (max-width: 374px) {
  .item-timer-section {
    display: inline-flex;
    align-items: center;
    background-color: antiquewhite;
    padding: 4px;
    border-radius: 4px;
    width: 80%;
    
     
  }
  
}

