.Breadcrum-main-container {
  display: flex;
  list-style: none;
  justify-content: space-around;
  /* background-color: red; */
  height: 50px;
  width: 85%;
  margin: auto;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 2;
  cursor: pointer;
}

.Breadcrum-main-container li {
  font-size: 14px;
  font-weight: 400;
  align-self: center;
  color: rgb(102, 102, 102);
  padding: 11px;
   
}

.Breadcrum-main-container li:hover {
  background-color: rgb(248 250 252);
  border-radius: 5px;
   

}

@media only screen and (min-width: 375px) and (max-width:600px){
  .Breadcrum-main-container{
    display: none;
  }
}