.Breadcrum-main-container {
  list-style: none;
  height: 50px;
  width: 85%;
  margin: auto;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 2;
  cursor: pointer;
  align-content: center;
}

.Breadcrum-main-container ul{
  display:grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  justify-content: space-evenly;
   
}

.Breadcrum-main-container li {
  font-size: 14px;
  font-weight: 400;
  color: rgb(102, 102, 102);
  width: 100%;
   padding: 14px 4px;
}

.Breadcrum-main-container li:hover  {
  background-color: rgb(240, 241, 241);
  
   

}

@media only screen and (min-width: 375px) and (max-width:600px){
  .Breadcrum-main-container{
    display: none;
  }
}

@media only screen and (min-width: 1050px) and (max-width:1230px){
  .Breadcrum-main-container li{
    font-size: 12px;
  }
}