.breadcrum-section-shop{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(104, 103, 103, 0.24) 0px 1px 2px;
    position: sticky;
    top:90px;
    background-color: white;
    z-index: 2;
    
}
.menu-item-displaying-container{
    margin: 0px 5%;
}


.veg-items-display-container{
    background-color:white;
    overflow: scroll;
    height: 100vh;
    z-index: 1;
   
     
}

.veg-items-display-container::-webkit-scrollbar{
    display: none;
}
 

.menu-extra-section{
    height: 20px;
    background-color:white;
    position: sticky;
    top:141px;
    border-left:2px solid rgb(250, 246, 246) ;
    


}


.Menu-item-main-container{
   display:grid;
   grid-template-columns:20% auto;
    
   

}

.mobile-menu-item-section{
  display: none;
}
.mobile-breadcrum-display-section{
    display: none;
}

@media only screen and (min-width: 360px) and (max-width:600px)
{
    .Menu-item-main-container{
        display:grid;
        grid-template-columns: 80px auto;
        
     
     }

     .menu-extra-section {
    display: none;
  }
  .menu-item-displaying-container {
    margin: 0px 0%;
  }

   .Veg-menu-item-section{
    display: none;
   }
   .mobile-menu-item-section{
    display: block;
   }
   .mobile-menu-item-section{
    overflow: scroll;
    height: 100vh;
   }
   .mobile-menu-item-section::-webkit-scrollbar{
    display: none;
}

.mobile-breadcrum-display-section{
    display: block;
}

    
}