body{
    font-family: 'Okra', sans-serif;
    /* font-family: Okra; */

}

 .app-footer-container{
    display: none;
 }

 
@media only screen and (min-width: 375px) and (max-width:600px)
{
    .app-footer-container{
        display: block;
     }
     .footer-display-what-section{
      display: none;
     }

     .app-footer-artimatic-section{
        display: flex;
        justify-content: space-between;
        border:2px solid rgb(236, 233, 233);
        padding: 5px;
        font-size: 20px;
        font-weight: 700;
        color:rgb(66, 66, 66);
        /* margin-bottom: 20px; */
        align-items: center;

     }
      
}