.groceryDisplay-main-container{
    display: grid;
    grid-template-columns: auto auto auto  auto auto auto auto auto auto auto ;
    justify-content: space-between;
     
}
@media only screen and (min-width: 375px) and (max-width:600px){
    .groceryDisplay-main-container{
    display: grid;
    grid-template-columns: auto auto auto  auto ;
    justify-content: space-between;
     
}
}

 