.Mobile-veg-menu-container{
    border-right: 2px solid  rgb(221, 219, 219);
  
}

.Mobile-Main-menu-conatiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    /* margin-top: 20px; */
    
}

.mobile-image-Menuitem-Image{
    width: 35px;
    height: 35px;
}

.mobile-Menuitem-Image-menu-conatiner{
    background-color: rgb(224, 223, 223);
    padding: 10px;
    border-radius: 50px;
    margin-top: 20px;
}

.mobile-Menuitem-Menuname-menuitem-conatiner p{
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    color:rgb(127, 126, 126);

}

.mobile-Menuitem-Image-menu-conatiner .mobile-active-image-bg{
    background-color: rgb(228, 251, 228);

  }
  /* .mobile-Menuitem-Menuname-menu  .active-text-color{
    color:black;
  }  */

  .mobile-Menuitem-Menuname-menu.active-text-color {
    color: black;
    font-weight: 700;
  }

.mobile-image-Menuitem-Image.mobile-image-menu{
    transform: scale(1.4);
    transition: all 0.2s ease;
}  
  
  

  

   .mobile-vegmenu-display-container{
    display: grid;
    grid-template-columns: auto 5px;
  }

  .mobile-active-border {
    position: relative;
  }
  
  .mobile-active-border::before {
    content: '';
    position: absolute;
    top: 15%;
     right: 0; /* Adjust this value as needed */
    width: 4px;
    height: 80%;
    background-color: green;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: height 5s ease-in-out;
     
  }
  
  .mobile-vegmenu-display-container:hover .mobile-active-border::before,
  .mobile-vegmenu-display-container:focus .mobile-active-border::before {
    height: 80%;
    

  }
  